<app-navbar></app-navbar><br>
<button (click)="addToCart()" class="btn btn-primary" style="float:right">
  Go To Cart
</button>
<div class="container">
  <div class="row" style="margin-top: 10%;">
    <div class="card mb-4 col-md-6" *ngFor="let car of cars">
      <h3 class="card-header">{{ car.name }}</h3>
      <div class="card-body">
        <h5 class="card-title">{{ car.model }}</h5>
      </div>
      <img style="height: 200px; width: 100%; display: block;" [src]="car.image" alt="Card image" />

      <div class="card-body">
        <span style="margin-left: 0px;">Price:{{ car.price }}</span>
        <button (click)="add(car.name, car.price, car.model)" class="btn btn-primary" style="float: right;">
          Add To Cart</button>&nbsp;
      </div>
      &nbsp;
    </div>
  </div>
</div>