<div class="container">
    <form style="width: 50%;margin-left: 20%;margin-top: 5%;border: 1px solid black;padding: 5%;" #signupForm="ngForm"
        (ngSubmit)="signup(signupForm)" ngNativeValidate>
        <fieldset>
            <legend>User SignUp</legend>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" name="email" [(ngModel)]="email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Full Name</label>
                <input type="text" class="form-control" id="exampleInputfullName1" placeholder="Enter your full name"
                    name="name" [(ngModel)]="name" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    name="password" [(ngModel)]="password" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Phone Number</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number"
                    name="phone" [(ngModel)]="phone" required>
            </div>
            <button *ngIf="!loading" type="submit" class="btn btn-primary form-control">Sign Up</button>
            <button *ngIf="loading" class="btn btn-primary form-control" disabled>Signing Up...</button>

        </fieldset>
    </form>
</div>